<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">IdentityManager</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <RadzenPanelMenu Style="width:250px">
        <RadzenPanelMenuItem Text="Home" Path="/" Icon="home"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Counter" Path="counter" Icon="home"></RadzenPanelMenuItem>
        <RadzenPanelMenuItem Text="Fetch data" Path="fetchdata" Icon="home"></RadzenPanelMenuItem>
            <RadzenPanelMenuItem Text="Identity Manager" Icon="account_box">
                <RadzenPanelMenuItem Text="User List" Path="/identitymanager" Icon="account_circle"></RadzenPanelMenuItem>
                <RadzenPanelMenuItem Text="Roles List" Path="/identitymanager/rolesmanager" Icon="grid_on"></RadzenPanelMenuItem>
            </RadzenPanelMenuItem>
    </RadzenPanelMenu>

</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
